<div class="md-padding" layout="column" layout-wrap layout-align="left start">
  <md-toolbar class="md-hue-2 page-title">
    <div class="md-toolbar-tools">
      <h2><span>{{ 'TABLES.TITLE' | translate }}</span></h2>
    </div>
  </md-toolbar>
  <md-progress-linear class="md-accent md-hue-3" mode="indeterminate" [hidden]="!loading"></md-progress-linear>

  <div flex *ngIf="!loading && emptyTable">
    <p>{{ 'TABLES.NOT_AVAILABLE' | translate }}</p>
  </div>

  <div *ngIf="!loading && !emptyTable">
    <table-list [tableRows]="tableRows"></table-list>
    <table-pagination [pagination]="pagination" (pageChanged)="goTo($event)"></table-pagination>
  </div>
</div>
