$default-background: #000;
$img-dir: 'assets/img/stadiums/';

.bordeaux {
  background: $default-background url($img-dir + 'bordeaux.jpg') 0 90%;
}

.lens {
  background: $default-background url($img-dir + 'lens.jpg') 0 60%;
}

.lille {
  background: $default-background url($img-dir + 'lille.jpg') 0 90%;
}

.lyon {
  background: $default-background url($img-dir + 'lyon.jpg') 0 40%;
}

.marseille {
  background: $default-background url($img-dir + 'marseille.jpg') 0 90%;
}

.nice {
  background: $default-background url($img-dir + 'nice.jpg') 0 90%;
}

.paris-parc {
  background: $default-background url($img-dir + 'paris-parc.jpg') 0 15%;
}

.paris-sdf {
  background: $default-background url($img-dir + 'paris-sdf.jpg') 0 15%;
}

.saintetienne {
  background: $default-background url($img-dir + 'saintetienne.jpg') 0 55%;
}

.toulouse {
  background: $default-background url($img-dir + 'toulouse.jpg') 0 35%;
}
