<div class="groups" layout="row" layout-wrap layout-align="left start">

  <template ngFor #groupTable [ngForOf]="groups | async">

    <md-toolbar class="md-hue-2 md-accent group" [id]="groupTable.group.code">
      <div class="md-toolbar-tools">
        <h2 class="md-flex">{{ groupTable.group.i18n[lang] }}</h2>
        <span flex></span>

        <button md-button aria-label="Show matches" (click)="groupTable.showMatches = !groupTable.showMatches">
          {{ 'BETS.GROUPS.SHOW_MATCHES' | translate }}
        </button>
      </div>
    </md-toolbar>

    <md-data-table class="euro" layout-fill>
      <thead>
      <tr>
        <th class="md-text-cell">{{ 'BETS.GROUPS.TABLE.TEAM' | translate }}</th>
        <th>{{ 'BETS.GROUPS.TABLE.POINTS' | translate }}</th>
        <th>{{ 'BETS.GROUPS.TABLE.WIN' | translate }}</th>
        <th>{{ 'BETS.GROUPS.TABLE.LOSE' | translate }}</th>
        <th>{{ 'BETS.GROUPS.TABLE.DRAW' | translate }}</th>
        <th>{{ 'BETS.GROUPS.TABLE.FOR' | translate }}</th>
        <th>{{ 'BETS.GROUPS.TABLE.AGAINST' | translate }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="#groupMember of groupTable.group.members">
        <td class="md-text-cell">
          <span flex-grow>
            <flag-icon [code]="groupMember.isoAlpha2Code"></flag-icon>
            {{ groupMember.i18n[lang] }}
          </span>
        </td>
        <td>{{ groupMember.points }}</td>
        <td>{{ groupMember.win }}</td>
        <td>{{ groupMember.lose }}</td>
        <td>{{ groupMember.draw }}</td>
        <td>{{ groupMember.goalsFor }}</td>
        <td>{{ groupMember.goalsAgainst }}</td>
      </tr>
      </tbody>
    </md-data-table>

    <bets-card-list *ngIf="groupTable.showMatches" [matches]="groupTable.matches"></bets-card-list>
  </template>
</div>


