<md-data-table class="euro" layout-fill *ngIf="leaguesTableRows">
  <thead>
  <tr>
    <th>#</th>
    <th class="md-text-cell"></th>
    <th>{{ 'TABLES.POINTS' | translate }}</th>
    <th>{{ 'TABLES.PLAYERS' | translate }}</th>
    <th>{{ 'TABLES.PERFECTS' | translate }}</th>
    <th>{{ 'TABLES.GOOD_GAPS' | translate }}</th>
    <th>{{ 'TABLES.GOODS' | translate }}</th>
    <th>{{ 'TABLES.BADS' | translate }}</th>
    <th>{{ 'TABLES.ASSIDUITY' | translate }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="#leagueTableRow of leaguesTableRows" [routerLink]="['/LeagueDetails', {leagueSlug: leagueTableRow.slug}]"
    [ngClass]="{
      'user-in': leagueTableRow.userIn,
      'gold': leagueTableRow.position === 1, 'silver': leagueTableRow.position === 2, 'bronze': leagueTableRow.position === 3
    }">
    <td>{{ leagueTableRow.position }}</td>
    <td class="md-text-cell league">{{ leagueTableRow.name }}</td>
    <td>{{ leagueTableRow.points | number:'.2-2' }}</td>
    <td>{{ leagueTableRow.players }}</td>
    <td>{{ leagueTableRow.perfects | percent:'.2-2' }}</td>
    <td>{{ leagueTableRow.goodGaps | percent:'.2-2' }}</td>
    <td>{{ leagueTableRow.goods | percent:'.2-2' }}</td>
    <td>{{ leagueTableRow.bads | percent:'.2-2' }}</td>
    <td>{{ leagueTableRow.assiduity | percent:'.2-2' }}</td>
  </tr>
  </tbody>
</md-data-table>
