md-data-table {

  .user {
    min-width: 200px;
    width: 200px;

    .user-layout {
      padding-left: 1em;
    }

    .avatar, .avatar img {
      width: 64px;
      height: 64px;
    }

    .avatar {
      img {
        border-radius: 4px;
      }
    }

    .name {
      padding-left: 1em;
      text-transform: uppercase;
    }

  }

  .current-user {
    background: #FFCDD2;
    font-weight: bold;
  }

  .trophy {
    margin-left: 0.2em;
  }

  .trophy:after {
    content: '\1f3c6';
    font-size: 1.5em;
    font-style: normal;
    color: #000000;
  }

  .recents {
    width: 145px;
    min-width: 145px;
  }

}

:host {
  .silver {
    td {
      .flat {
        color: #ddd;
      }
    }
  }
}
