$facebook: #3B5998;
$twitter: #55ACEE;
$google: #DD4B39;

.providers {
  position: relative;
  padding: 2px;
  margin: 18px 0;
  vertical-align: middle;

  button {
    margin: 0 3%;
    width: calc(40% - 8px);
    height: 36px;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
  }

  & .facebook {
    background: $facebook;
  }

  & .twitter {
    background-color: $twitter;
  }

  & .google {
    background-color: $google;
  }

}

.divider {
  margin-top: 1.5em;
  position: relative;
  z-index: 1;

  span {
    padding: 0 .5em;
    background: #fff;
    color: #bbb;
  }

  &:before {
    content: '';
    margin: 0 auto;
    position: absolute;
    left: 0;
    top: 8px;
    right: 0;
    bottom: 0;
    border-top: 1px solid #ddd;
    z-index: -1;
  }
}

.form {
  padding-top: 1em;

  .password {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
