.league-name {
  font-weight: bold;
}

.league-name-confirm-container, md-input-container, .league-name-confirm {
  margin: 0;
}

.league-name-delete {
  color: red;
}

md-dialog-actions {
  padding-top: 0;
}
