$login-container-background: #E53935;
$login-background: #fff;
$facebook: #3B5998;
$twitter: #55ACEE;
$google: #DD4B39;

.splash-container {

  .splash-item {

    button {
      margin-bottom: 20px;
      width: 220px;
      height: 36px;
      border: none;
      border-radius: 2px;
      color: #FFF;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      transition: 0.2s ease;
      cursor: pointer;
    }

    & .facebook {
      background: $facebook;
    }

    & .twitter {
      background-color: $twitter;
    }

    & .google {
      background-color: $google;
    }

  }
}

