$login-container-background: #E53935;
$login-background: #fff;

.splash-container {

  .splash-item {

    md-toolbar.tabs-toolbar {
      background-color: transparent;
      .tab {
        padding: 16px;
        color: #bbb;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        border-bottom: 1px solid #000;
        cursor: pointer;

        &.active {
          color: #F44336;
          border-bottom: 1px solid #F44336;
        }
      }
    }

    .form {
      margin: 1em 0;

      .password {
        margin-bottom: 0;
      }
    }

  }
}

