<div class="md-padding" layout="row" layout-wrap layout-align="left start">
  <md-toolbar class="md-hue-2 page-title">
    <div class="md-toolbar-tools">
      <h2><span>{{ 'NEWSCAST.TITLE' | translate }}</span></h2>
    </div>
  </md-toolbar>
  <md-progress-linear class="md-accent md-hue-3" mode="indeterminate" [hidden]="!loading"></md-progress-linear>

  <div layout="row" layout-wrap layout-align="left start" class="news">
    <template ngFor #stat [ngForOf]="stats$ | async">
      <newscast-stat-item class="news-item" [stat]="stat" *ngIf="stat.type == 'STAT'"></newscast-stat-item>
      <newscast-news-item class="news-item" [news]="stat" *ngIf="stat.type == 'NEWS'"></newscast-news-item>
    </template>
  </div>
</div>
