$card-default-background: transparent;
$card-stadium-height: 128px;
$score-input-background: #eee;
$score-input-width: 60px;
$score-invalid-color: #f44336;

md-toolbar.stadium {
  background: transparent;
  min-height: $card-stadium-height;

  .stadium-toolbar {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 8px;
  }
}

@import '../styles/stadiums';

md-card-title {
  border-bottom: 1px solid #ddd;

  md-card-title-text {
    text-align: center;
  }
}

md-card-content {
  padding-top: 16px;

  .top {
    text-align: center;

    .team-names {
      margin-top: 1em;
      min-height: 3em;

      .name {
        font-size: 1.2em;
        text-transform: uppercase;
      }
    }
  }

  flag-icon {
    font-size: 3em;
  }

  .win {
    font-weight: 800;
    font-size: 1.5em;
  }

  .score-input {
    background: $score-input-background;
    width: $score-input-width;
    text-align: center;
  }

  .score-separator {
    text-align: center;
  }

  .score {
    position: relative;
    margin: 18px 0;
  }

  .user-score {
    color: grey;

    .user-score-icon {
      position: absolute;
      top: -2px;
      left: 0;
      margin-top: 0;
      color: #F44336;
    }
  }
}

.bubble {
  color: #fff;
  padding: 1em;
  margin-left: 1.5em;
  position: relative;
  width: 90px;
  height: 25px;
  background: $score-invalid-color;
  border-radius: 5px;
}

.bubble:after {
  content: "";
  position: absolute;
  top: 15px;
  left: -15px;
  border-style: solid;
  border-width: 9px 19px 9px 0;
  border-color: transparent $score-invalid-color;
  display: block;
  width: 0;
  z-index: 1;
}
