<md-card>
  <md-toolbar class="md-accent stadium" [ngClass]="'stadium-' + match.stadium.id">
    <div class="stadium-toolbar"
      layout-sm="column" layout-align-sm="space-between start"
      layout-gt-sm="column" layout-align-gt-sm="space-between start"
      layout-gt-md="row" layout-align-gt-md="space-between end">
      <div>
        <span>{{ match.hour }}</span>
      </div>
      <div>
        <span>{{ match.stadium.name }} ({{ match.stadium.city }})</span>
      </div>
    </div>
  </md-toolbar>

  <md-card-title>
    <md-card-title-text>
      {{ match.phase.i18n[lang] }}
    </md-card-title-text>
  </md-card-title>

  <md-card-content>
    <div class="top">
      <div layout="row" layout-align="space-between center">
        <div flex="45">
          <flag-icon [code]="match.home.isoAlpha2Code"></flag-icon>
        </div>
        <div flex></div>
        <div flex="45">
          <flag-icon [code]="match.away.isoAlpha2Code"></flag-icon>
        </div>
      </div>

      <div layout="row" layout-align="space-between center" class="team-names">
        <div flex="45">
          <span class="name" [ngClass]="{win: match.home.winner}">{{ match.home.i18n[lang] }}</span>
        </div>
        <div flex>vs</div>
        <div flex="45">
          <span class="name" [ngClass]="{win: match.away.winner}">{{ match.away.i18n[lang] }}</span>
        </div>
      </div>
    </div>

    <form *ngIf="match.status == 0" [ngFormModel]="form">
      <div layout="row" layout-align="space-between center">

        <div flex="45">
          <div layout="column" layout-align="space-around center">
            <md-input-container class="md-block">
              <input type="number" min="0" max="10" md-input name="home" class="score-input"
                     [value]="match.bet.homeGoals"
                     [ngFormControl]="form.controls.home">
            </md-input-container>

          </div>
        </div>
        <div class="score-separator" flex><i md-icon>person</i></div>
        <div flex="45">
          <div layout="column" layout-align="space-around center">
            <md-input-container class="md-block">
              <input type="number" min="0" max="10" md-input class="score-input"
                    [value]="match.bet.awayGoals"
                     [ngFormControl]="form.controls.away">
            </md-input-container>
          </div>
        </div>
      </div>

      <bets-score-error-message *ngIf="form.hasError('invalidScore')">{{ 'BETS.MATCHES.INVALID_SCORE' | translate}}</bets-score-error-message>
      <bets-score-error-message *ngIf="showingError">{{ 'COMMON.ERROR_OCCURRED' | translate}}</bets-score-error-message>
    </form>

    <div *ngIf="match.status == 1">
      <div layout="row" class="score" layout-align="space-between center">
        <div flex="45">
          <div layout="column" layout-align="space-around center">
            <span [ngClass]="{win: match.home.winner}">{{ match.home.goals }}</span>
          </div>
        </div>
        <div class="score-separator" flex>-</div>
        <div flex="45">
          <div layout="column" layout-align="space-around center">
            <span [ngClass]="{win: match.away.winner}">{{ match.away.goals }}</span>
          </div>
        </div>
      </div>
      <div layout="row" class="score user-score" layout-align="space-between center">
        <div flex="45">
          <div layout="row" layout-align="space-around center">
            <span>{{ match.bet.homeGoals }}</span>
          </div>
        </div>
        <div class="score-separator" flex><i md-icon>person</i></div>
        <div flex="45">
          <div layout="column" layout-align="space-around center">
            <span>{{ match.bet.awayGoals }}</span>
          </div>
        </div>
      </div>
    </div>
  </md-card-content>

  <md-card-actions layout="row" layout-align="end center">
    <button md-button (click)="onFeelingLucky()" *ngIf="match.status === 0">{{ 'COMMON.IM_FEELING_LUCKY' | translate }}</button>
    <button md-button class="md-icon-button" aria-label="Video" *ngIf="match.finished">
      <i md-icon>videocam</i>
    </button>
  </md-card-actions>
</md-card>
