$score-invalid-color: #f44336;

.bubble {
  color: #fff;
  padding: 1em;
  margin-left: 1.5em;
  position: relative;
  width: 90px;
  height: 25px;
  background: $score-invalid-color;
  border-radius: 5px;
}

.bubble:after {
  content: "";
  position: absolute;
  top: 15px;
  left: -15px;
  border-style: solid;
  border-width: 9px 19px 9px 0;
  border-color: transparent $score-invalid-color;
  display: block;
  width: 0;
  z-index: 1;
}
