<div class="md-padding" layout="column" layout-wrap layout-align="left start">
  <md-toolbar class="md-hue-2 page-title">
    <div class="md-toolbar-tools">
      <h2><span>{{ 'LEAGUES.TITLE' | translate }}</span></h2>
      <span flex></span>
      <button md-fab class="md-fab fab" aria-label="Create a league" (click)="showingForm = !showingForm">
        <i md-icon>add</i>
      </button>
    </div>
  </md-toolbar>
  <md-progress-linear class="md-accent md-hue-3"  mode="indeterminate" [hidden]="!loading" ></md-progress-linear>

  <div flex *ngIf="showingForm">
    <md-card >
      <md-card-title>
        {{ 'LEAGUES.CREATE' | translate }}
      </md-card-title>
      <md-card-content>
        <div layout-padding>
          <form [ngFormModel]="projectForm">
            <md-input-container class="md-block">
              <label for="name">{{ 'LEAGUES.ATTRS.NAME' | translate }}</label>
              <input md-input ngControl="name" [(ngModel)]="league.name" id="name">
              <div md-messages="name" role="alert">
                <div md-message="required">{{ 'LEAGUES.ATTRS.ERRORS.REQUIRED' | translate }}</div>
                <div md-message="invalidName">{{ 'LEAGUES.ATTRS.ERRORS.INVALID' | translate }}</div>
                <div md-message="nameTaken">{{ 'LEAGUES.ATTRS.ERRORS.NAME_TAKEN' | translate }}</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label for="description">{{ 'LEAGUES.ATTRS.DESCRIPTION' | translate }}</label>
              <input md-input ngControl="description" [(ngModel)]="league.description" id="description">
              <div md-messages="description">
                <div md-message="required">{{ 'LEAGUES.ATTRS.ERRORS.REQUIRED' | translate }}</div>
                <div md-message="maxlength">{{ 'LEAGUES.ATTRS.ERRORS.DESCRIPTION_MAX_LENGTH' | translate }}</div>
              </div>
            </md-input-container>
          </form>
        </div>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <button md-button aria-label="Cancel" class="md-primary"
                (click)="cancel()">{{ 'LEAGUES.ACTIONS.CANCEL' | translate }}</button>
        <button md-raised-button aria-label="Save" class="md-raised md-hue-1 md-primary"
                [disabled]="!projectForm.valid" (click)="persist()">Save</button>
      </md-card-actions>
    </md-card>
  </div>
  <div flex>
    <md-data-table class="euro" layout-fill>
      <thead>
      <tr>
        <th class="md-text-cell">{{ 'LEAGUES.ATTRS.NAME' | translate }}</th>
        <th class="md-text-cell">{{ 'LEAGUES.ATTRS.DESCRIPTION' | translate }}</th>
        <th hide-xs>{{ 'LEAGUES.ATTRS.MEMBERS' | translate }}</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="#leagueHolder of leagues$ | async">
        <td class="md-text-cell">{{ leagueHolder.league.name }}</td>
        <td class="md-text-cell">{{ leagueHolder.league.description }}</td>
        <td hide-xs>{{ leagueHolder.membersCount }}</td>
        <td>
          <button *ngIf="leagueHolder.actions.canJoin" md-button aria-label="Join"
            (click)="join(leagueHolder.league)">{{ 'LEAGUES.ACTIONS.JOIN' | translate }}</button>
          <button *ngIf="leagueHolder.actions.canLeave" md-button aria-label="Leave"
            (click)="leave(leagueHolder.league)">{{ 'LEAGUES.ACTIONS.LEAVE' | translate }}</button>
          <button *ngIf="leagueHolder.actions.canAlter" md-button aria-label="Edit"
            (click)="edit(leagueHolder.league)">{{ 'LEAGUES.ACTIONS.EDIT' | translate }}</button>
          <button *ngIf="leagueHolder.actions.canAlter" md-button aria-label="Delete"
            (click)="deleteConfirm(leagueHolder.league, $event)">{{ 'LEAGUES.ACTIONS.DELETE' | translate }}</button>
        </td>
      </tr>
      </tbody>
    </md-data-table>
  </div>

</div>
