md-toolbar {
  .fab {
    position: absolute;
    top: 0;
    right: 0;
    @media (max-width: 599px) {
      top: -10%;
    }
  }
}

.form-league-card {
  md-card-title {
    h3 {
      margin-bottom: 0;
    }
  }
}

.league-card {

  md-card-header-text {
    line-height: 40px;
  }

  md-card-title-text {
    height: 5em;
  }

  .banner {
    width: 100%;
    height: 150px;
  }

  .members-count {
    position: relative;
    top: -0.4em;
  }

  .leave-button {
    transform: rotate(180deg);
  }
}

.preview-banner {
  width: 430px;
  height: 150px;
}

.picture-container {
  margin: 18px 0 0 0;

  label {
    transform: translate3d(0, 0, 0) scale(1);
    display: block;
    border-bottom: 1px solid #ddd;
    width: 100%;
  }

  .preview {
    margin-top: 1em;
  }
}
