/* ng2-material2 imports */
@import "node_modules/ng2-material/source/core";
$md-primary: md-palette($md-light-blue, 500, 100, 700, $md-contrast-palettes);
$md-accent: md-palette($md-blue, 500, 300, 700, $md-contrast-palettes);
@import "node_modules/ng2-material/source/components";

$background: tomato;
html {
  background-color: $background;
}

h1 {
  font-family: Arial, Helvetica, sans-serif
}
nav ul {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60px;
}
nav li {
  display: inline;
}
nav li.active {
  background-color: lightgray;
}
