/* ng2-material2 imports */
@import "node_modules/ng2-material/source/core";

$md-primary: md-palette($md-light-blue, 500, 100, 700, $md-contrast-palettes);
$md-accent: md-palette($md-red, 500, 300, 700, $md-contrast-palettes);
@import "node_modules/ng2-material/source/components";

/** flag-icon-icss imports */
@import "node_modules/flag-icon-css/sass/flag-icon";

/* palette */

$primary-color-light:  #BBDEFB;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF5252;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;

$page-title-color: #F44336;

$app-content-lg: 940px;
$app-content-md: 580px;
$app-content-sm: 360px;

$header-height: 200px;
$hero-padding: 50px 16px 0;

$md-toolbar-sub-background-color: #004D7E;

$app-menu-width: $sidenav-mobile-width;

bets-sidenav-layout {
  height: 100%;
  min-height: 100%;

  .app-menu {
    border-right: 1px solid md-color($md-foreground, divider);
    md-list-item {
      font-size: $subheader-font-size;
      font-weight: $subheader-font-weight;
      cursor: pointer;
      will-change: color;
      transition: color $swift-ease-in-duration $swift-ease-in-timing-function;
      &.md-active {
        color: md-color($md-primary, 500);
      }
    }
    md-toolbar {
      height: $header-height;
      background-color: transparent;
      color: md-color($md-foreground, secondary-text);
      border-bottom: 1px solid md-color($md-foreground, divider);

      h1 {
        font-weight: 500;
        cursor: pointer;
      }
    }
  }

  .app-content {
    background-color: md-color($md-background, 100);
  }

  md-toolbar.page-title {
    background: transparent;
    color: $page-title-color;
    border-bottom: 1px solid $page-title-color;
    text-transform: uppercase;
  }

  md-toolbar.sub-toolbar {
    background-color: $md-toolbar-sub-background-color;
  }

  md-toolbar.tabs-toolbar {
    background-color: transparent;
    .tab {
      padding: 16px;
      color: #bbb;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      border-bottom: 1px solid #000;

      &.router-link-active {
        color: #F44336;
        border-bottom: 1px solid #F44336;
      }
    }
  }

  md-data-table.euro, .md-data-table.euro {
    th {
      padding: 24px 6px;
    }

    td {
      padding: 14px 6px;
    }

    th, td {
      font-size: 1rem;
    }
  }

  md-content.content {
    background-color: transparent;
    width: 800px;
    @media screen and (min-width: $layout-breakpoint-lg - 1) {
      width: $app-content-lg;
    }
    @media screen and (max-width: $layout-breakpoint-md) {
      width: $app-content-md;
      overflow-x: auto;
      display: block;
    }
    @media screen and (max-width: $layout-breakpoint-sm) {
      width: $app-content-sm;
    }
    @media screen and (max-width: $layout-breakpoint-xs) {
      overflow-x: auto;
      display: block;
    }
  }

  > md-toolbar {
    font-family: $font-family;
  }
  .fixed-toolbar, .shadow-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: $z-index-toolbar;
    .verbose-title {
      @media screen and (max-width: $layout-breakpoint-sm) {
        display: none;
      }

    }
  }

  @media screen and (min-width: $layout-breakpoint-md) {
    .fixed-toolbar {
      padding-left: $app-menu-width;
    }
  }

  md-toolbar.hero {

    @include md-hero-toolbar();
    height: $header-height;
    min-height: $header-height;
    max-height: $header-height;
    padding: $hero-padding;
    h1 {
      color: #fff;
      font-size: 56px;
      font-weight: 400;
      line-height: 1.5;
      margin: 0 auto;
      overflow: visible;
      width: 1160px;
      white-space: nowrap;

    }
    @media screen and (min-width: $layout-breakpoint-md + 1) {
      h1 {
        width: $app-content-lg - 32px;
      }
    }
    @media screen and (max-width: $layout-breakpoint-md) {
      h1 {
        width: $app-content-md - 32px;
      }
    }
    @media screen and (max-width: $layout-breakpoint-sm) {
      height: 128px;
      padding-top: 72px;
      @include md-tall-toolbar();
      h1 {
        font-size: $title-font-size-base;
        width: $app-content-sm - 80px;
        margin-left: 0;
      }
    }
  }

  md-content {
    > section {
      > h1 {
        margin-top: rem(6);
        margin-bottom: rem(6);
        font-weight: 300;
        color: md-color($md-primary, 900);
      }
      > md-divider {
        margin-top: rem(6);
      }
      .card-media {
        background-color: md-color($md-background);
      }
    }
  }

  .leave-button {
    transform: rotate(180deg);
  }

  .content {
    padding: 20px $baseline-grid;
    min-height: 640px;

    .content-title {
      color: md-color($md-primary);
      font-size: rem(3.4);
      font-weight: 400;
      line-height: rem(4);
      margin-bottom: rem(4);
    }

    .content-intro {
      font-size: rem(2);
      line-height: rem(3.2);
      margin-bottom: 0;
      padding: 0 0 40px 0;
      a {
        text-decoration: none;
        color: md-color($md-primary);
      }
    }

  }

  .tooltip {
    display: inline;
    position: relative;
  }

  .tooltip:hover:after {
    padding: 5px 15px;
    position: absolute;
    left: 20%;
    bottom: 40px;
    background: #333;
    background: rgba(0, 0, 0, .8);
    border-radius: 5px;
    color: #fff;
    content: attr(title);
    z-index: 99;
    text-align: center;
  }

  .tooltip:hover:before {
    position: absolute;
    top: 0;
    left: 50%;
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    z-index: 99;
  }

}
