/* ng2-material2 imports */
@import "node_modules/ng2-material/source/core";
$md-primary: md-palette($md-light-blue, 500, 100, 700, $md-contrast-palettes);
$md-accent: md-palette($md-blue, 500, 300, 700, $md-contrast-palettes);
@import "node_modules/ng2-material/source/components";

$body-background: #DDD;

body {
}

/**
 * Mixin that creates a new stacking context.
 * see https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Positioning/Understanding_z_index/The_stacking_context
 */
html, body {
  height: 100%;
  color: rgba(0, 0, 0, 0.87);
  background: $body-background;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
}
