<md-toolbar class="md-hue-2 sub-toolbar matches-toolbar" *ngIf="current">
  <div class="tabs" flex layout="row" layout-align="space-around center">
    <a flex class="tab" *ngIf="!hidingCurrentMatches"
      [ngClass]="{active: !showingHistory}" (click)="showingHistory = false">
      <span>{{ 'BETS.MATCHES.TODO' | translate }}</span>
    </a>
    <a flex class="tab" [ngClass]="{active: showingHistory}" (click)="showingHistory = true">
      <span>{{ 'BETS.MATCHES.HISTORY' | translate }}</span>
    </a>
  </div>
</md-toolbar>

<bets-card-list [matches]="current" *ngIf="!showingHistory"></bets-card-list>

<div class="history" *ngIf="showingHistory && history && history.length > 0">
  <bets-card-list [matches]="history"></bets-card-list>
</div>

