<md-card class="league-card" [routerLink]="['/LeagueDetails', {leagueSlug: leagueHolder.league.slug}]">
  <md-card-header>
    <md-card-avatar>
      <img class="md-user-avatar" [src]="leagueHolder.league.ownerProfileImageURL"/>
    </md-card-avatar>
    <md-card-header-text>
      <span class="md-title">{{ leagueHolder.league.ownerDisplayName }}</span>
    </md-card-header-text>
  </md-card-header>
  <div class="md-card-image banner" [style.background]="leagueHolder.league.background">
    <league-image [imageRef]="leagueHolder.league.image" size="mini" class="banner" *ngIf="leagueHolder.canShowBanner"></league-image>
  </div>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">{{ leagueHolder.league.name }}</span>
      <span class="md-subhead">{{ leagueHolder.league.description }}</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content *ngIf="leagueHolder.actions.canShowMembers">
    <ng-content></ng-content>
  </md-card-content>
  <md-card-actions layout="row" layout-align="start center">
    <md-card-icon-actions>
      <div layout="row" layout-align="space-between center" class="members">
        <div class="counter">
          <span>{{ leagueHolder.membersCount }}</span>
        </div>
        <div>
          <button md-button class="md-icon-button">
            <i md-icon>person</i>
          </button>
        </div>
      </div>
      <div class="tooltip" title="{{ 'LEAGUES.ACTIONS.INVITE' | translate }}"
           *ngIf="leagueHolder.actions.canAlter"
           (click)="leagueActionsHandler.invite(leagueHolder.league, elementRef, $event); $event.stopPropagation()">
        <button md-button class="md-icon-button">
          <i md-icon>person_add</i>
        </button>
      </div>

      <span flex></span>

      <div class="tooltip" title="{{ 'LEAGUES.ACTIONS.LEAVE' | translate }}"
           *ngIf="leagueHolder.actions.canLeave"
           (click)="leagueActionsHandler.leave(leagueHolder.league); $event.stopPropagation()">
        <button md-button class="md-icon-button leave-button">
          <i md-icon class="leave">input</i>
        </button>
      </div>
      <div class="tooltip" title="{{ 'LEAGUES.ACTIONS.JOIN' | translate }}"
           *ngIf="leagueHolder.actions.canJoin"
           (click)="leagueActionsHandler.join(leagueHolder.league); $event.stopPropagation()">
        <button md-button class="md-icon-button">
          <i md-icon>input</i>
        </button>
      </div>
      <div class="tooltip" title="{{ 'LEAGUES.ACTIONS.EDIT' | translate }}"
           *ngIf="leagueHolder.actions.canAlter"
           (click)="leagueActionsHandler.edit(leagueHolder.league, elementRef, $event); $event.stopPropagation()">
        <button md-button class="md-icon-button">
          <i md-icon>create</i>
        </button>
      </div>
      <div class="tooltip" title="{{ 'LEAGUES.ACTIONS.DELETE' | translate }}"
           *ngIf="leagueHolder.actions.canAlter"
           (click)="leagueActionsHandler.delete(leagueHolder.league, elementRef, $event); $event.stopPropagation()">
        <button md-button class="md-icon-button">
          <i md-icon>delete</i>
        </button>
      </div>
    </md-card-icon-actions>
  </md-card-actions>
</md-card>
