.league-card {

  md-card-header-text {
    line-height: 40px;
  }

  md-card-title-text {
    height: 5em;
  }

  .banner {
    width: 100%;
    height: 150px;
  }

  .members {
    margin-left: 12px;

    .counter {
      font-size: 0.8em;
      margin-top: 0.4em;
    }

    button {
      cursor: default;
      width: 20px;
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;

      &:hover {
        background: transparent;
      }
    }
  }

  .leave-button {
    transform: rotate(180deg);
  }

  .tooltip {
    display: inline;
    position: relative;
  }

  .tooltip:hover:after {
    padding: 5px 15px;
    position: absolute;
    left: 20%;
    bottom: 40px;
    background: #333;
    background: rgba(0, 0, 0, .8);
    border-radius: 5px;
    color: #fff;
    content: attr(title);
    z-index: 99;
    text-align: center;
  }

  .tooltip:hover:before {
    position: absolute;
    top: 0;
    left: 50%;
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    z-index: 99;
  }

}
