md-card.league-card {
  cursor: pointer;

  md-card-header-text {
    line-height: 40px;
  }

  md-card-title-text {
    height: 5em;
  }

  .banner, .loader {
    width: 100%;
    height: 150px;
  }

  .members {
    margin-left: 12px;

    .counter {
      font-size: 0.8em;
      margin-top: 0.4em;
    }

    button {
      cursor: default;
      width: 20px;
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;

      &:hover {
        background: transparent;
      }
    }
  }

}
