$default-background: transparent;
$img-dir: 'assets/img/stadiums/';

md-toolbar.stadium {

  &.stadium-5 {
    background: $default-background url($img-dir + 'bordeaux.jpg') 0 90%;
  }

  &.stadium-2 {
    background: $default-background url($img-dir + 'lens.jpg') 0 60%;
  }

  &.stadium-1 {
    background: $default-background url($img-dir + 'lille.jpg') 0 90%;
  }

  &.stadium-8 {
    background: $default-background url($img-dir + 'lyon.jpg') 0 40%;
  }

  &.stadium-9 {
    background: $default-background url($img-dir + 'marseille.jpg') 0 90%;
  }

  &.stadium-10 {
    background: $default-background url($img-dir + 'nice.jpg') 0 90%;
  }

  &.stadium-4 {
    background: $default-background url($img-dir + 'paris-parc.jpg') 0 15%;
  }

  &.stadium-3 {
    background: $default-background url($img-dir + 'paris-sdf.jpg') 0 15%;
  }

  &.stadium-7 {
    background: $default-background url($img-dir + 'saintetienne.jpg') 0 55%;
  }

  &.stadium-6 {
    background: $default-background url($img-dir + 'toulouse.jpg') 0 35%;
  }

}
