<div layout="row" layout-align="center start">
  <md-sidenav-container layout="row" flex>
    <md-sidenav name="menu" layout="column" flex class="app-menu" [style]="fullPage ? 'side' : 'over'">
      <md-toolbar class="md-accent title" [routerLink]="['Index']">
        <div class="md-toolbar-tools name" layout="column" layout-align="center center" [routerLink]="['Index']">
          <div>
            <h1>Euro 2016 Pronos</h1>
          </div>
        </div>
        <span flex></span>
        <pronos-user-avatar></pronos-user-avatar>
        <div class="user md-toolbar-tools-bottom inset" layout="row" layout-align="space-between center">
          <div><span>Rank: -</span></div>
          <div><span>Precision: -</span></div>
        </div>
      </md-toolbar>
      <md-list>
        <md-list-item [routerLink]="['Pronos']" md-ink>
          <span>Pronostics</span>
        </md-list-item>
        <md-list-item md-ink [routerLink]="['Table']">
          <span>Table</span>
        </md-list-item>
        <md-list-item md-ink>
          <a (click)="logout()">Logout</a>
        </md-list-item>
      </md-list>
      <div flex></div>
    </md-sidenav>
    <section class="app-content" layout="column" layout-align="start center" flex>
      <md-toolbar class="shadow-toolbar md-whiteframe-z1" md-peekaboo [break]="210" breakAction="show"></md-toolbar>
      <md-toolbar class="fixed-toolbar"
                  md-peekaboo
                  [break]="190"
                  breakAction="show">
      </md-toolbar>
      <md-toolbar class="hero">
        <h1 md-peekaboo
            [breakMd]="72"
            [breakXs]="20"
            breakAction="hide">TITLE</h1>
      </md-toolbar>
      <md-toolbar class="fixed-toolbar">
        <div class="md-toolbar-tools">
          <button md-button
                  class="md-hamburger md-icon-button"
                  hide-gt-lg
                  (click)="showMenu($event)"
                  aria-label="Home">
            <i md-icon class="md-dark">menu</i>
          </button>
          <h2 md-peekaboo
              [breakMd]="72"
              [breakXs]="20"
              breakAction="show">
            <span>TITLE</span>
          </h2>
          <span flex></span>
          <a md-peekaboo
             href="https://github.com/justindujardin/ng2-material/releases/tag/v{{version}}"
             target="_blank"
             [breakMd]="72"
             breakAction="show"
             *ngIf="version" class="md-caption">v&</a>
        </div>
      </md-toolbar>

      <md-content class="examples" md-scroll-y layout-padding>
        <ng-content></ng-content>
      </md-content>
    </section>
  </md-sidenav-container>
</div>
