$title-text-color: #fff;
$logo-width: 92px;
$logo-height: 92px;

md-list-item.divider {
  border-top: 1px solid #ddd;
}

.hero {
  h1 {
    margin: 0 64px;
  }
}

.hero, .shadow-toolbar.md-peekaboo-active, .fixed-toolbar.md-peekaboo-active {
  &:before {
    background: url(assets/img/bg_pattern.png) top center #007cba;
    background-size: 50%;
    opacity: .2;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
  }

  h1, h2 {
    z-index: 1;
  }
}

.fixed-toolbar.md-peekaboo-active {
  background: #03a9f4;
}

.fixed-toolbar {
  background: transparent;
}

.app-menu {
  md-toolbar {
    .title {
      color: $title-text-color;
      z-index: 1;
    }

    .name {
      cursor: pointer;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      h1 {
        font-weight: 700;
      }
    }

  }

  md-toolbar {
    & .user {
      font-size: small;
    }
  }

  .euro-logo {
    margin-bottom: auto;

    img {
      width: $logo-width;
      height: $logo-height;
    }
  }
}
