<md-sidenav-container layout="row" flex>
  <md-sidenav name="menu" layout="column" flex class="app-menu" [style]="fullPage ? 'side' : 'over'">
    <md-toolbar class="md-accent title">
      <div class="md-toolbar-tools name" layout="column" layout-align="center center" [routerLink]="['Bets']">
        <div>
          <h1>EURO2016</h1>
        </div>
      </div>
      <span flex></span>
      <bets-user-avatar></bets-user-avatar>
      <div class="user md-toolbar-tools-bottom inset" layout="row" layout-align="space-between center">
        <div><span>{{ 'SIDENAV.USER.RANK' | translate }}: {{ userTable.position }}</span></div>
        <div><span>{{ 'SIDENAV.USER.POINTS' | translate }}: {{ userTable.points }}</span></div>
      </div>
    </md-toolbar>
    <div layout="row" layout-align="start start">
      <md-list flex>
        <md-list-item md-ink [class.md-active]="currentPage?.key == 'BETS'"
                      (inked)="navigate(['Bets'])">
          {{ 'SIDENAV.PAGES.BETS' | translate }}
          <span flex></span>
          <span *ngIf="numberOfRemainingBets && numberOfRemainingBets > 0" class="counter">
            {{numberOfRemainingBets}}
          </span>
        </md-list-item>
        <md-list-item md-ink [class.md-active]="currentPage?.key == 'TABLES'"
                      (inked)="navigate(['Table'])">
          {{ 'SIDENAV.PAGES.TABLES' | translate }}
        </md-list-item>
        <md-list-item md-ink [class.md-active]="currentPage?.key == 'LEAGUES'"
                      (inked)="navigate(['Leagues'])">
          {{ 'SIDENAV.PAGES.LEAGUES' | translate }}
        </md-list-item>

        <div class="leagues" layout="column" layout-align="star center">
          <md-list-item md-ink class="user-league" [class.md-active]="league.slug === currentLeagueSlug"
                        *ngFor="#league of userLeagues$ | async"
                        (inked)="navigate(['LeagueDetails', {leagueSlug: league.slug}])">
            {{ league.name }}
          </md-list-item>
        </div>

        <md-list-item md-ink [class.md-active]="currentPage?.key == 'HELP'" class="divider"
                       (inked)="navigate(['Help'])">
          {{ 'SIDENAV.PAGES.HELP' | translate }}
        </md-list-item>
        <md-list-item md-ink router-link-active class="divider" (inked)="logout()">
          <a>{{ 'SIDENAV.LOGOUT' | translate }}</a>
        </md-list-item>
      </md-list>
    </div>
  </md-sidenav>
  <section class="app-content" layout="column" layout-align="start center" flex>
    <md-toolbar class="shadow-toolbar md-whiteframe-z1" md-peekaboo
      [breakMd]="128" [breakLg]="90" breakAction="show"></md-toolbar>
    <md-toolbar class="fixed-toolbar"
                md-peekaboo
                [break]="180"
                breakAction="show">
    </md-toolbar>
    <md-toolbar class="hero">
      <div md-peekaboo
        [breakMd]="56"
        [breakXs]="20"
        breakAction="hide">

        <h1>{{ currentPage?.title }}</h1>
      </div>
    </md-toolbar>
    <md-toolbar class="fixed-toolbar">
      <div class="md-toolbar-tools">
        <button md-button
                class="md-hamburger md-icon-button"
                hide-gt-lg
                (click)="showMenu($event)"
                aria-label="Home">
          <i md-icon class="md-dark">menu</i>
        </button>
        <h2 md-peekaboo
            [breakMd]="65"
            [breakXs]="20"
            breakAction="show">
          <span>{{ currentPage?.title }}</span>
        </h2>
        <span flex></span>
      </div>
    </md-toolbar>

    <md-content class="content" md-scroll-y layout-padding>
      <ng-content></ng-content>
    </md-content>
  </section>
</md-sidenav-container>
