.winner-container {
  margin-top: 1em;
}

.country-cards {
  background: #029FE8;

  md-card-content {
    height: 5em;
  }

  .country-card {
    cursor: pointer;
  }
}

md-toolbar.winner {
  h2 {
    text-transform: uppercase;
  }
}

md-toolbar.winner-selection {
  margin-bottom: 1em;
}

.country-winner-container {
  margin-bottom: 1em;
}

winner-country-card-item.country-winner  {
  md-card {
    background: #FFA000;

    md-card-content {
      height: 2em;
    }

    md-card-actions {
      padding-bottom: 8px;
    }
  }
}

