ul {
  margin: 0;
  padding: 0;
  list-style: none outside none;
  display: inline-block;

  li {
    position: relative;
    float: left;
    display: inline;
    width: 12px;
    height: 12px;
    margin: 0;
    border-right: 1px solid #ddd;

    &:last-child {
      border-right: none;
    }

    &.recent--1 {
      background: #B6B6B6;
    }
    &.recent-0 {
      background: #388E3C;
    }
    &.recent-1 {
      background: #8BC34A;
    }
    &.recent-2 {
      background: #D32F2F;
    }

  }

}
