ul {
  margin: 0;
  padding: 0;
  list-style: none outside none;
  display: inline-block;

  li {
    position: relative;
    float: left;
    display: inline;
    width: 12px;
    height: 12px;
    margin: 0;
    border-right: 1px solid #ddd;

    &:last-child {
      border-right: none;
    }

    &.recent--1 {
      background: #B6B6B6;
    }

    $perfect: #1B5E20;
    $goodgap: #43A047;
    $good: #81C784;
    $bad: #D32F2F;

    &.recent-0 {
      background: $perfect;
    }
    &.recent-3 {
      background: $goodgap;
    }
    &.recent-1 {
      background: $good;
    }
    &.recent-2 {
      background: $bad;
    }

  }

}
